.container-edit-product{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 600px;
}

.col{
    width: 50%; /* Setengah dari lebar container */
    float: left; /* Atur elemen agar berada di samping elemen lainnya */
    padding: 15px; /* Opsional: tambahkan padding jika diperlukan */
    box-sizing: border-box; /* Pastikan padding dihitung dalam lebar elemen */
}

.card-title{
    padding-top: 10px;
    background-color: yellowgreen;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
}

.card-body{
    background-color: yellowgreen;
}